{% extends 'base.html' %}
{% block title %} 
Contact
{%  endblock title %}


{% block body %} 
<div class="container-fluid px-0 mb-3 py-4 ">
    <img src="https://source.unsplash.com/random/?phone,contact" width="200px" height="200px"  class="d-block w-100 mx-0" alt="...">
</div>
    <div class="container">
    <h1 >Contact Us </h1>
    <form method="post" action="/contact">
        {%csrf_token %}
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" name="email">
        </div>
        <div class="col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class"col-md-12">
            <label for="Phone">Phone number</label>
            <input type="phone" class="form-control" id="phone" name="phone">
        <div class"form-group">
            <label for="desc">Tell me about why do you want to connect</label>
            <textarea class="form-control" id="exampleFromControlInput1" rows="2" name="desc"></textarea>
         <button class="btn btn-primary" type="submit" >Submit</button>
      </form>


{%  endblock body%}
